*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2039;
    padding: 50px 20px;
}
.colonne-gauche{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px 15px;
}
.colonne-gauche h1{
    font-size: 55px;
    color: #A5B4FC;
    font-family: 'Roboto';
    font-weight: 400;
}
.colonne-gauche h2{
    font-size: 30px;
    color: #A5B4FC;
    font-family: 'Roboto';
    font-weight: 400;
}
.colonne-gauche p{
    color: #F9F8FF;
    font-family: 'Montaga';
    font-size: 20px;
    font-weight: 400;
}
.colonne-droite{
    width: 30%;
}
.selfie{
    width: 420px;
    height: 450px;
    object-fit: cover;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.container-logo{
    width: 15%;
    display: flex;
    align-items: center;
    

}
.logo{
    width: 150px;
    height: 150px;
    margin-left: 25px;
}
nav{
    width: 50%;
    display: flex;
    align-items: center;
    font-family: 'Montaga';
    font-weight: 800;
    
}
nav ul{
    display: flex;    
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}
.nav-item{
    min-width: 30%;
    color: black;
    font-size: 25px;
    text-align: center;
}
.nav-link{
    text-decoration: none;
}
.liste-reseaux{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.icone-reseaux{
    width: 40%;
}
.container-projets{
    width: 70%;
    margin: auto;
    border: 1px solid red;
}
.liste-projet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projets h3{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    font-family: 'Montaga';
}
.projets{
    background-color: #C5D5DE;

}
.btn-contact{
    width: 315px;
    height: 65px;
    margin: auto;
    background: linear-gradient(#8E86B5 , #ACAEED);
    padding: 21px 38px 21px 38px;
    border-radius: 50px;
    text-align: center;
    font-family: 'Montaga';
    font-size: 17px;
    line-height: 21px;
    transition: all 0.2s ease-in;
}
.btn-contact i{
    opacity: 0;
}
.btn-contact:hover{
    font-size: 19px;
}
.btn-contact a{
    color: #ffff;
    text-decoration: none;
    transition: all 0.2ms ease-out;
}
.btn-contact a:hover{
    color: darkred;

}